@font-face {
	font-family: Adventure;
	src: url("../fonts/Adventure/Adventure.eot");
	src: local("Adventure"), local("../fonts/Adventure/Adventure"),
		url("../fonts/Adventure/Adventure.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Adventure/Adventure.woff") format("woff"),
		url("../fonts/Adventure/Adventure.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

.test {
	background: #FFF5ED;
	* {
		padding: 0;
		margin: 0;
		border: 0;
		box-sizing: border-box;
	}

	*,
	*:before,
	*:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	.test-desk {
		@media (max-width: 800px){
			display: none;
		}
	}
	.test-mob {
		display: none;
		@media (max-width: 800px){
			display: block;
		}
	}
	.swiper-slide {
		@media (max-width: 800px){
			height: auto;
			min-height: 100%;
		}
	}
	&__btn {
		cursor: pointer;
	}

	.test-card {
		display: flex;
		@media (max-width: 800px){
			flex-direction: column;
			min-height: 100%;
		}
		&__left {
			flex: 0 0 645px;
			position: relative;
			padding-top: 53.371%;
			@media (max-width: 1439px){
				flex: 0 0 44.79vw;
			}
			@media (max-width: 800px){
				flex: 1 1 100%;
				padding-top: 0;
				width: 100%;
			}
			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&__right {
			min-height: 100%;
			flex: 1 1 auto;
			padding: 70px 100px;
			display: flex;
			flex-direction: column;
			align-items: center;
			@media (max-width: 1439px){
				padding: 4.86vw 6.94vw;
			}
			@media (max-width: 800px){
				flex: 1 1 auto;
				padding: 8.75vw 5vw;
			}
		}

		&__head {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			color: #7D7D7D;
			font-size: 15.989px;
			font-family: Montserrat Alternates;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			@media (max-width: 1439px){
				font-size: 1.11vw;
			}
			@media (max-width: 800px){
				font-size: 3.75vw;
			}
		}

		&__star {
			position: absolute;
			&--blue {
				background: url('../img/star-blue.png') 0 0 / 100% 100% no-repeat;
			}
			&--yellow {
				background: url('../img/star-yellow.png') 0 0 / 100% 100% no-repeat;
			}
			&--white {
				background: url('../img/star-white.png') 0 0 / 100% 100% no-repeat;
			}
		}
	}


	.swiper-slide {
		opacity: 0 !important;
		pointer-events: none !important;
		transition: all 0.7s ease 0s;
		position: relative;
		&.swiper-slide-active {
			z-index: 9;
			opacity: 1 !important;
			pointer-events: auto !important;
		}
	}

	&__card {
		transition: all 0.3s ease 0s;
		&.hide {
			opacity: 0;
		}
	}

	&__title {
		margin-top: 50px;
		color: #1F1304;
		text-align: center;
		font-size: 36px;
		font-family: Montserrat Alternates;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		text-transform: uppercase;
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		@media (max-width: 1439px){
			margin-top: 3.47vw;
			font-size: 2.50vw;
		}
		@media (max-width: 800px){
			font-size: 7vw;
		}
	}

	&__text {
		color: #1F1304;
		text-align: center;
		font-size: 16px;
		font-family: Montserrat Alternates;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		@media (max-width: 1439px){
			font-size: 1.11vw;
		}
		@media (max-width: 800px){
			font-size: 3.75vw;
		}
	}

	&__radiobuttons {
		margin-top: 30px;
		@media (max-width: 1439px){
			margin-top: 2.08vw;
		}
		@media (max-width: 800px){
			margin-top: 0;
			flex: 1 1 auto;
		}
		> * {
			&:not(:first-child) {
				margin-top: 14px;
				@media (max-width: 1439px){
					margin-top: 0.97vw;
				}
				@media (max-width: 800px){
					margin-top: 2.75vw;
				}
			}
		}
	}

	&__radiobuttons-item {
		label {
			display: block;
			span {
				transition: all 0.3s ease 0s;
				position: relative;
				cursor: pointer;
				display: block;
				border-radius: 60px;
				padding: 15px 20px;
				background: #FFF;
				box-shadow: 0px 6px 10px 0px rgba(139, 159, 159, 0.03);
				@media (max-width: 1439px){
					border-radius: 4.17vw;
					padding: 1.04vw 1.39vw;
					box-shadow: 0px 0.42vw 0.69vw 0px rgba(139, 159, 159, 0.03);
				}
				@media (max-width: 800px){
					border-radius: 12.50vw;
					padding: 1.88vw 7.50vw;
				}
			}
		}
		input:checked + label {
			span {
				background: #FFC13D;
			}
		}
		&:hover{
			label {
				span {
					background: #FFC13D;
				}
			}
		}
		&.active {
		}
		input {
			display: none;
		}
	}

	
	&__btn-next {
		margin-top: 48px;
		@media (max-width: 1439px){
			margin-top: 3.33vw;
		}
		@media (max-width: 800px){
			margin-top: 4.25vw;
		}
	}


	.result {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		max-width: 100%;
		opacity: 0;
		pointer-events: none;
		z-index: -1;
		transition: all 0.7s ease 0s;

		.result__btn {
			opacity: 0;
		}
		&.show {
			opacity: 1;
			pointer-events: auto;
			z-index: 999;
			.result__btn {
				opacity: 1;
			}
		}
		&__inner {
			display: none;
			&.active {
				display: block;
			}
			&.result1 {
			}

			&.result1 {
			}

			&.result1 {
			}
		}
	}




	.test-general-btn {
		cursor: pointer;
		width: 273px;
		height: 90px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: #1F1304;
		text-align: center;
		font-size: 20px;
		font-family: Montserrat Alternates;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		text-transform: uppercase;
		transition: all 0.3s ease 0s;
		overflow: hidden;
		@media (max-width: 1439px){
			width: 18.96vw;
			height: 6.25vw;
			font-size: 1.39vw;
		}
		@media (max-width: 800px){
			width: 65.25vw;
			height: 16.13vw;
			font-size: 4.50vw;
		}
		p {
			position: relative;
			z-index: 2;
		}
		span {
			display: block;
			position: absolute;
			top: 0;
			width: calc((100% / 7) + 2px);
			height: 100%;
			border-radius: 61.267px;
			background-color: #FFC13D;
			transition: all 0.3s ease 0s;
			@media (max-width: 1439px){
				width: calc((100% / 7) + 0.14vw);
				
			}
			&:nth-child(1){
				left: 0;
			}
			&:nth-child(2){
				left: calc((100% * (1 / 7)) - 2px);
				@media (max-width: 1439px){
					left: calc((100% * (1 / 7)) - 0.14vw);
				}
			}
			&:nth-child(3){
				left: calc((100% * (2 / 7)) - 2px);
				@media (max-width: 1439px){
					left: calc((100% * (2 / 7)) - 0.14vw);
				}
			}
			&:nth-child(4){
				left: calc((100% * (3 / 7)) - 2px);
				@media (max-width: 1439px){
					left: calc((100% * (3 / 7)) - 0.14vw);
				}
			}
			&:nth-child(5){
				left: calc((100% * (4 / 7)) - 2px);
				@media (max-width: 1439px){
					left: calc((100% * (4 / 7)) - 0.14vw);
				}
			}
			&:nth-child(6){
				left: calc((100% * (5 / 7)) - 2px);
				@media (max-width: 1439px){
					left: calc((100% * (5 / 7)) - 0.14vw);
				}
			}
			&:nth-child(7){
				left: calc((100% * (6 / 7)) - 2px);
				@media (max-width: 1439px){
					left: calc((100% * (6 / 7)) - 0.14vw);
				}
			}
		}
		&:hover{
			transition: all 0.3s ease 0.1s;
			border-radius: 60px;
			@media (max-width: 1439px){
				border-radius: 4.17vw;
			}
			span {
				border-radius: 0;
			}
		}
	}
	.hero-result-test {
		display: flex;
		align-items: center;
		@media (max-width: 800px){
			flex-wrap: wrap;
		}
		.test-card__left {
			/* padding-top: 60.333%; */
		}
		.test-card__right {
			min-height: 0;
			@media (max-width: 800px){
				min-height: 100%;
			}
		}
		&__subtitle {
			color: #3F59AD;
			font-size: 30px;
			font-family: Adventure;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			text-decoration-line: underline;
			text-align: center;
			@media (max-width: 1439px){
				font-size: 2.08vw;
			}
			@media (max-width: 800px){
				text-decoration-line: none;
				color: #1F1304;
				font-family: Montserrat Alternates;
				font-weight: 600;
				text-transform: uppercase;
				font-size: 7vw;
			}
		}
		&__title {
			margin-top: 34px;
			flex: 0 0 auto;
			display: block;
			@media (max-width: 1439px){
				margin-top: 2.36vw;
			}
			@media (max-width: 800px){
				margin-top: 0;
			}
			span {
				margin-top: 10px;
				display: block;
				font-weight: 500;
				font-size: 20px;
				@media (max-width: 1439px){
					margin-top: 0.69vw;
					font-size: 1.39vw;
				}
			}
		}
		.hero-test__title {
			@media (max-width: 800px){
				display: none;
			}
		}
		&__text {
			margin-top: 14px;
			@media (max-width: 1439px){
				margin-top: 0.97vw;
			}
			@media (max-width: 800px){
				margin-top: 6.75vw;
				flex: 1 1 auto;
			}
		}
		&__btn {
			margin-top: 58px;
			@media (max-width: 1439px){
				margin-top: 4.03vw;
			}
		}
	}
	@media (max-width: 800px){
		.result {
			.hero-result-test {
				.test-card__left {
					padding-top: 41.625%;
				}
				.test__title {
					font-size: 5.25vw;
					span {
						font-size: 3.75vw;
					}
				}
			}
			&__btn{
				margin-top: 6.75vw;
				color: #7D7D7D;
				text-align: center;
				font-size: 30px;
				font-family: Montserrat Alternates;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				width: auto;
				height: auto;
				span {
					display: none;
				}
			}
		}
	}

	.question-test {
		.test-card__left {
			@media (max-width: 800px){
				display: none;
			}
		}
		.test__title {
			@media (max-width: 800px){
				flex: 0 0 42.25vw;
				margin: 0;
			}
		}
		.test__btn-next {
			opacity: 0;
			pointer-events: none;
			transition: all 0.3s ease 0s;
			&.js-active {
				opacity: 1;
				pointer-events: auto;
			}
		}
	}
}
